/* Variable */

$font-logo:'Wisdom Script', sans-serif;
$font-one: 'montserrat', sans-serif;
$font-two: 'droid-serif', serif;
$font-three: 'roboto-slab',serif;

$color-font-white: #ffffff;
$color-font-dark: #222222;
$color-font-light: #777777;
$color-yellow: #fed136;
$color-bg-grey: #f7f7f7;


/*Global*/


.section-title {
    text-align: center;
    font-family: $font-one;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-font-dark;
    font-size: 40px;
    margin-bottom: 0;
            

}
.subtitle {
    text-align: center;
    font-family: $font-two;
    font-style: italic;
    color: $color-font-light;
    font-size: 16px;
    margin-bottom: 80px;
    margin-top: 10px;
      
    

}
.box-title {
    text-align: center;
    font-family: $font-one;
    font-weight: bold;
    color: $color-font-dark;
    font-size: 18px;
    margin-bottom: 15px;;
}
p {
    text-align: center;
    font-family: $font-three;
    color: $color-font-light;
    font-size: 14px;
}


.btn {
    display: inline-block;
    color: $color-font-white;
    background-color: $color-yellow;
    width: 300px;
    height: 80px;
    padding: 25px;
    border-radius: 5px;
    font-family: $font-one;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}


/* Navigation */
   
.menu{
    margin-top: 60px;
    .logo {
        text-decoration: none;
        color: $color-yellow;
        font-size: 30px;
        font-family: $font-logo;
        padding-left: 0;
    }
       ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
    }

    li {
        display: inline-block;
        margin-left: 45px;
        a {
            text-decoration: none;
            color: $color-font-white;
            font-size: 16px;
            font-family: $font-one;
            
        }
    }

  
}


/*Splash*/

.splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: calc(70vh + 120px);
    margin-top: -120px;
    margin-bottom: -120px;
    position: relative;
    z-index: -1;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-font-white;
    h1 {
        font-family: $font-two;
        font-weight: 200;
        font-style: italic;
        font-size: 45px;
        margin-bottom: 0;
        
    }
    h2 {
        font-family: $font-one;
        font-size: 85px;
        text-transform: uppercase;
        margin-top: 40px;
    }
}

/*Services*/

.services {
    .icon {
        width:fit-content;
        border: solid $color-yellow;
        border-radius: 50%;
        padding: 20px;
        margin: 0 auto;
    }
    
    img {
    height: 35px;
    display: inline-block;
    margin:auto;
    }
    .lock {
        width: 90px;
        padding-left: 25px;
    }
    
    
    .container {
        margin-top: 0;
        padding-bottom: 120px;
        padding-top: 240px;
    }

    p {
        margin-top: 0;
    }
    
}

/*Portfolio*/

.portfolio {
    background-color:$color-bg-grey;
    .container {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .row {
        justify-content: space-between;
    
        .box { 
            background-color: $color-font-white;
            width: 330px;
        }
    }

    img {
        width: 330px;       
        display:block;
        margin: 0;
        
    }

    .subtitle {
        padding-bottom: 50px;
    }
   .container {
       padding-bottom: 80px
   }
}

/*Footer*/
.footer {
    
    
    .row{
        height: 120px;
        align-items: center;
        p {
            text-align: left;
            font-family: $font-one;
            
        }

        ul {
            list-style-type: none;
            padding-left: 90px;
            }
        
                li {
                    display: inline-block;
                    font-size: 0;
                                   
                    i {
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: $color-bg-grey;
                    background-color: $color-font-dark;
                    border-radius: 50%;
                    text-align: center;
                    }
                }
    }
}
