/* Variable */

$font-logo:'Wisdom Script', sans-serif;
$font-one: 'montserrat', sans-serif;
$font-two: 'droid-serif', serif;
$font-three: 'roboto-slab',serif;

$color-font-white: #ffffff;
$color-font-dark: #222222;
$color-font-light: #777777;
$color-yellow: #fed136;
$color-bg-grey: #f7f7f7;






                                                
