/* Variable */

$font-logo:'Wisdom Script', sans-serif;
$font-one: 'montserrat', sans-serif;
$font-two: 'droid-serif', serif;
$font-three: 'roboto-slab',serif;

$color-font-white: #ffffff;
$color-font-dark: #222222;
$color-font-light: #777777;
$color-yellow: #fed136;
$color-bg-grey: #f7f7f7;


/*Global*/


.section-title {
    text-align: center;
    font-family: $font-one;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-font-dark;
    font-size: 40px;
            

}
.subtitle {
    text-align: center;
    font-family: $font-two;
    font-style: italic;
    color: $color-font-light;
    font-size: 16px;
    margin-bottom: 80px;
    

}
.box-title {
    text-align: center;
    font-family: $font-one;
    font-weight: bold;
    color: $color-font-dark;
    font-size: 18px;
}
p {
    text-align: center;
    font-family: $font-three;
    color: $color-font-light;
    font-size: 14px;
}


.btn {
    display: inline-block;
    color: $color-font-white;
    background-color: $color-yellow;
    width: 240px;
    height: 65px;
    padding: 25px;
    border-radius: 5px;
    font-family: $font-one;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


/* Navigation */
   
.menu{
   
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
    }

    li {
        display: inline-block;
        margin-left: 36px;
    }

    a {
        text-decoration: none;
        color: $color-font-white;
        font-size: 14px;
        
    }
}


/*Splash*/

.splash {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #777777;
    height: calc(100vh + 120px);
    margin-top: -120px;
    position: relative;
    z-index: -1;
}

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-font-white
    h1 {
        font-family: $font-two;
        font-style: italic;
        font-size: 40px;
    }
    h2 {
        font-family: $font-one;
        font-size: 75px;
        text-transform: uppercase;
    }
}

/*Services*/

.services {
    img {
    margin-left: 50%; //do poprawy
    margin-right:auto;
    border: solid $color-yellow;
    border-radius: 50%;
    padding: 20px;
    }
    .container {
        padding-bottom: 120px;
        padding-top: 120px;
    }
    
}

/*Portfolio*/

.portfolio {
    background-color:$color-bg-grey;
    .container {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .row {
        justify-content: space-between;
    
        .col-4 { 
        
            background-color: $color-font-white;
        }
    }

    img {
        width: 291px;
        height: 302px;
        
    }
   
}

/*Footer*/
.footer {
    
    
    .row{
        height: 120px;
        align-items: center;
        p {
            text-align: left;
            font-family: $font-one;
            
        }

        ul {
            list-style-type: none;
            }
        
                li {
                    display: inline-block;
                    font-size: 0;
                                   
                    i {
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: $color-bg-grey;
                    background-color: $color-font-dark;
                    border-radius: 50%;
                    text-align: center;
                    }
                }
    }
}
